.container{
  width:1025px;
}
ul {
  list-style-type: none;
}
.jumbotron {
  height: 800px;
  display: grid;
  text-align: center;
}
.jumbotron .container {
  max-width: 100%;
}
.flashcards {
  display: none;
}
.button {
  border-right: 2px solid black;
  text-align: center;
  padding: 5px;
}
.button:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
#reveal {
  margin: auto;
}
#reveal:hover {
  cursor: pointer;
}
.row {
  background-color: silver;
}
.answer{
  display: none;
}
